# dependencies
node_modules

# build
dist
build

# logs
*.log

# env variables
.env
.env.*

# prisma
prisma/migrations

# coverage
coverage

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# temp
tmp
temp